# ROS
/build
/install
/log*

#Simulation and post-processing data
/post_processing/debugging/plots/*
/post_processing/plots/*
/post_processing/estimated_data/scenario3
/post_processing/batch_runs
/post_processing/__pycache__
post_processing/debugging/test/*
/post_processing/results/exp1_noise_sweep/*
/post_processing/results/exp3_tdma_sweep/*
